.sidebar-nav {
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

body {
    min-width: 1300px;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px 20px 20px 20px;
}

h1 {
    font-size: 70px;
    font-family: 'Zen Dots', cursive;
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
    padding: 20px 0;
    color: #0d0080;
    text-shadow: 3px 3px 1px rgb(87, 136, 243);
}

h2 {font-size: 28px;}

p, ul, li {
    font-size: 25px;
    line-height: 1.5;
}

span {
    font-size: 18px;
    text-align: right;
    display:block;
}

h2, p, ul, li, span, form {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    letter-spacing: 1.5px;
}

img {
    display: block;
    margin: 0 auto;
    width: 70%
}

a:hover {color:red;}

hr {
    border-width:5px;
    border-color: rgb(87, 136, 243);

}