.sidebar-nav {
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

html {
    background: -webkit-radial-gradient(circle,white,#aad0f3);
    background: -o-radial-gradient(circle,white,#aad0f3);
    background: -moz-radial-gradient(circle,white,#aad0f3);
    background: radial-gradient(circle,white,#aad0f3);
}

body {
    min-width: 1300px;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px 20px 20px 20px;
}

h1 {
    font-size: 70px;
    font-family: 'Zen Dots', cursive;
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
    padding: 20px 0;
    color: #0d0080;
    text-shadow: 3px 3px 1px rgb(87, 136, 243);
}

h2 {
    font-size: 40px;
    color: #0d0080;
}

p, ul, li, .page-links {
    font-size: 25px;
    line-height: 1.5;
}

.pagination {
    text-align: center;
    display: block;
}

h2, p, ul, li, span, form {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    letter-spacing: 1.5px;
}

img, iframe {
    text-align: center;
    display: block;
    margin: 0 auto;
}

a:hover {color:red;}

hr {
    border-width:5px;
    border-color: rgb(87, 136, 243);

}